@{
    ViewData["Title"] = "Confirmação de exclusão de contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Kaíque Freire dos Santos)?</h3>
       
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar Exclusão</a>
    <a class="btn btn-secondary btn-block" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar Exclusão</a>

</div>

