@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

<!-- Mensagem de erro -->
@if (TempData["MensagemErro"] != null)
{
    <!-- Alert Erro -->
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<br/>

<!-- Mensagem de sucesso -->
@if (TempData["MensagemSucesso"] != null)
{
    <!-- Alert Sucesso -->
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<!-- Formuário de Login -->
<form asp-controller="Login" asp-action="Entrar" method="post">

    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        <div id="loginHelp" class="form-text">Nunca compartilhe seu login com ninguém</div>
        @Html.ValidationMessageFor(x => x.Login)  <!-- Se campo for nulo mostrar mensagem de erro -->
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="senha">
        @Html.ValidationMessageFor(x => x.Senha)  <!-- Se campo for nulo mostrar mensagem de erro -->
    </div>

    <!-- Redefinir a senha -->
    <p class="mb-4 text-sm mx-auto">
        Esqueceu sua senha?
        <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Redefinir minha senha</a>
    </p>

    <!-- Botão entrar -->
    <button type="submit" class="btn btn-primary btn-block">Entrar</button>

</form>

